/* Base */
body {
  background-color: #0f033f;
  color: #8fbeda;
  font-family: Oxygen, sans-serif;
  font-size: .875em;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bebas Neue Regular', sans-serif;
  text-align: center;
}

hr {
  height: 1px;
  background-color: #8fbeda;
  border: 0;
}

a {
  color: #8fbeda;
  font-weight: bold;
  border-bottom: 1px solid #8fbeda;
  text-decoration: inherit;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transition: background-color 0.3s ease,
              color 0.3s ease;
}

a:active {
  background-color: #8fbeda;
  color: #0f033f;
}

.button,
button {
  margin: 0;
  padding: 0;
  border: 1px solid #8fbeda;
  opacity: 1;
  background-color: #0f033f;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transition: color 0.3s ease,
              background-color 0.3s ease;
}

.button:active,
button:active {
  color: #0f033f;
  background-color: #8fbeda;
}

.button:focus,
button:focus {
  outline: 0;
}

.site-wrapper {
  min-height: 100%;
}

.main-nav {
  position: relative;
  z-index: 10;
  padding: 35px 40px;
  margin: 0 0 30px 0;
}

.site-footer {
  margin: 1em 0 0 0;
  padding: 1em;
  font-size: .75em;
}

.copyright {
  display: block;
  width: 45%;
  float: left;
}

.powered-by {
  display: block;
  width: 45%;
  float: right;
  text-align: right;
}

.vertical-cell {
  padding: 20px 0;
}

/* Clearfix */
.clearfix {
  zoom: 1;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/* Menu icon */
.menu-button,
.menu-button:before,
.menu-button:after {
  display: block;
  position: relative;
  height: 1px;
  width: 37px;
  background-color: #8fbeda;
  transition: background-color 0.3s ease;
}

.menu-button:before,
.menu-button:after {
  content: "";
}

.menu-button:before {
  top: -9px;
}

.menu-button:after {
  bottom: -8px;
}

button:active .menu-button,
button:active .menu-button:before,
button:active .menu-button:after {
  background-color: #0f033f;
}

/* Navigation */
/* Lovingly copied from Casper (https://github.com/TryGhost/Casper) */
body.nav-opened .nav-cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 200px;
  bottom: 0;
  z-index: 100;
}

.nav {
  position: fixed;
  top: 0;
  right: -200px;
  bottom: 0;
  z-index: 5;
  height: auto;
  width: 200px;
  opacity: 0;
  background-color: inherit;
  border-left: 1px solid #8fbeda;
  margin-bottom: 0;
  text-align: left;
  overflow-y: auto;
  transition: transform 0.5s ease,
              opacity 0.3s ease 0.6s;
}

body.nav-opened .nav {
  opacity: 1;
  transition: transform 0.5s ease,
              opacity 0s ease 0s;
  transform: translate3D(-200px, 0, 0);
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav a {
  border: 0;
  color: #8fbeda;
  font-family: 'Bebas Neue Regular', sans-serif;
  font-size: 1.5em;
}

.nav-title {
  margin-top: 59px;
}

.nav-title h3 {
  margin: 0;
  text-align: left;
  font-size: 2em;
}

.nav-site li {
  width: 100%;
  border-bottom: 1px solid #8fbeda;
  text-align: left;
}

.nav h3,
.nav a {
  display: block;
}

.nav-site h3,
.nav-site a {
  padding: 10px 0 10px 20px;
}

.nav .nav-social {
  position: absolute;
  bottom: 0;
  padding: 20px 0;
  border-top: 1px solid #8fbeda;
  text-align: center;
}

.nav .nav-social li {
  display: inline-block;
}

.nav .nav-social li a {
  border: 0;
}

.nav-button {
  position: fixed;
  top: 20px;
  right: 20px;
  height: 39px;
  width: 39px;
}

/* Animated nav menu / close icon */
/* Heavily inspired by Nick Salloum */
/* (http://callmenick.com/post/animating-css-only-hamburger-menu-icons) */
.nav-button .menu-button,
.nav-button .menu-button:before,
.nav-button .menu-button:after {
  visibility: visible;
}

.nav-button .menu-button {
  transition: background-color 0.3s ease,
              visibility 0s 0.3s;
}

.nav-button .menu-button:before {
  transition: background-color 0.3s ease,
              top 0.3s 0.3s,
              transform 0.3s 0s;
}

.nav-button .menu-button:after {
  transition: background-color 0.3s ease,
              bottom 0.3s 0.3s,
              transform 0.3s 0s;
}

body.nav-opened .nav-button .menu-button {
  visibility: hidden;
}

body.nav-opened .nav-button .menu-button:before {
  top: 0;
  transform: rotate(45deg) scale(1.4, 1);
  transition: top 0.3s 0s,
              width 0.3s 0.3s,
              transform 0.3s 0.3s;
}

body.nav-opened .nav-button .menu-button:after {
  bottom: 1px;
  transform: rotate(-45deg) scale(1.4, 1);
  transition: bottom 0.3s 0s,
              width 0.3s 0.3s,
              transform 0.3s 0.3s;
}

/* Posts */

.post {
  position: relative;
  width: 80%;
  margin: auto;
  word-wrap: break-word;
}

.post-title {
  margin-top: 0;
}

.post hr {
  position: relative;
  left: -12.5%;
  width: 125%;
}

.post-meta {
  font-size: .875em;
}

/* Fonts */
@font-face {
  font-family: 'Bebas Neue Regular';
  src: url('../fonts/bebas_neue_regular.woff2') format('woff2'),
       url('../fonts/bebas_neue_regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Tablet */
@media screen and (min-width: 48em) {
  body {
    font-size: 1em;
  }

  a:hover {
    color: #8fbeda;
    background-color: #8fbeda;
    color: #0f033f;
  }

  .button:hover,
  button:hover {
    color: #0f033f;
    background-color: #8fbeda;
  }

  button:hover .menu-button,
  button:hover .menu-button:before,
  button:hover .menu-button:after {
    background-color: #0f033f;
  }
}
